// Banners
.banner {
  position: relative;
  margin-bottom: 3rem;
  background-color: #ccc;

  &.banner-cat {
    margin-bottom: 0;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  > a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
  }

  .banner-content {
    padding: 100px 0;
    text-align: center;

    h1 {
      margin-bottom: 2.5rem;
      color: #fff;
      font-family: $second-font-family;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: .075em;
      line-height: 1;
      text-transform: uppercase;
    }

    a {
      display: inline-block;
    }
  }
}

@include mq('sm') {
  .banner h1 {
    font-size: 3.6rem;
  }
}

@include mq('md') {
  .banner {
    &.banner-cat {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: 5.4rem;
    }
  }
}

@include mq('lg') {
  .banner {
    &.banner-cat {
      margin-bottom: 5rem;
    }

    h1 {
      font-size: 6.4rem;
    }
  }
}

@include mq('xl') {
  .banner h1 {
    font-size: 7.2rem;
  }
}

@include mq('xxl') {
  .banner h1 {
    font-size: 10rem;
  }
}
